<p id="notice"><%= notice %></p>

<h1>Wishlist Projects</h1>

<table>
  <thead>
    <tr>
      <th>Wishlist</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wishlist_projects.each do |wishlist_project| %>
      <tr>
        <td><%= wishlist_project.wishlist %></td>
        <td><%= wishlist_project.project %></td>
        <td><%= link_to 'Show', wishlist_project %></td>
        <td><%= link_to 'Edit', edit_wishlist_project_path(wishlist_project) %></td>
        <td><%= link_to 'Destroy', wishlist_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wishlist Project', new_wishlist_project_path %>
