
<% @users = User.all %>
<div class="col-md-2"></div>
<div class="col-md-6">
  <h1>All Users</h1>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td class="btn btn-success"><%= link_to 'Show', user %></td>
        <td class="btn btn-info"<%= link_to 'Edit', user %></td>
        <td class="btn btn-danger" <%= link_to 'Delete', user %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
