
<div class="container">

  <nav>
    <h1>FundMe</h1>
    <header>Francisco Moreira</header>
    <header>Alvaro Majluf</header>
  </nav>
  <body>
    <div class="nav-wrapper blue-grey darken-1">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to "New User", new_user_path, class: 'button' %></li>
        <li><%= link_to "View All Users", users_path, class: 'button' %></li>
        <li><%= link_to "New Project", new_project_path, class: 'btn btn-small' %></li>
        <li><%= link_to "View All Projects", projects_path, class: 'button' %></li>
      </ul>
    </div>
  </body>
  <%= yield %>

</div>

