<%= form_with(model: pay_method, local: true) do |form| %>
  <% if pay_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pay_method.errors.count, "error") %> prohibited this pay_method from being saved:</h2>

      <ul>
      <% pay_method.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :card_number %>
    <%= form.text_field :card_number, id: :pay_method_card_number, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :name_in_card %>
    <%= form.text_field :name_in_card, id: :pay_method_name_in_card, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :expiration_date %>
    <%= form.date_select :expiration_date, id: :pay_method_expiration_date, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :company %>
    <%= form.text_field :company, id: :pay_method_company, class: "form-control"  %>
  </div>

  <div class="form-group">

    <%= form.hidden_field :user_id, :value => current_user.id, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Add PayMethod", class: "btn btn-success" %>
  </div>



<% end %>