<h2>Pay Methods</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Card number</th>
      <th>Name in card</th>
      <th>Expiration date</th>
      <th>Company</th>
    </tr>
    </thead>
    <tbody>
    <% @pay_methods.each do |pay_method| %>
      <tr>
        <td><%= pay_method.card_number %></td>
        <td><%= pay_method.name_in_card %></td>
        <td><%= pay_method.expiration_date %></td>
        <td><%= pay_method.company %></td>
        <td  type="button" class="btn btn-success" style="color: white">  <%= link_to 'Show', pay_method %></td>
        <td type="button" class="btn btn-success" style="color: white">   <%= link_to 'Edit', edit_pay_method_path(pay_method) %> </td>
        <td type="button" class="btn btn-success" style="color: white">   <%= link_to 'Eliminate', pay_method, method: :delete, data: {confirm: 'Are you sure?'} %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <a type="button"  class="btn btn-primary" style="color: white" <%= link_to 'New Pay Method', new_pay_method_path %></a>



