<!DOCTYPE html>
<html>
  <head>
    <title>Fundme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      .footerr {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: grey;
        color: white;
        text-align: center;
        height:27px;
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-class">
        <div class="container">
          <div class="row">
            <div class="col-md-6" >
              <h1 style="color: #CCCCCC" align="left">FundMe</h1>
              <header style="color: #CCCCCC">Francisco Moreira</header>
              <header style="color: #CCCCCC">Alvaro Majluf</header>
            </div>
            <div class="col-md-6 ">

            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/home/index#">Home</a></li>
            <li class="active"><a href="/projects">All Projects <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/outstandings">Outstandings <span class="sr-only">(current)</span></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to 'Create your own project', new_project_path %></a></li>
              <li><%= link_to current_user.email, edit_user_registration_path %></li>
              <li><a href="/myprojects">My Projects</a></li>

              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li ><%= link_to "Profile", current_user %></li>
                  <li><a href="/wishlists">Wishlist</a></li>
                  <li><a href="/pay_methods">Pay Methods</a></li>
                  <li ><%= link_to "My Funds", funds_path %></li>
                  <li ><%= link_to "My Funds by promises", fundby_promises_path %></li>
                  <% if current_user.role != "admin" %>

                  <% else %>
                    <li><% link_to "Admin", rails_admin_path%></li>
                    <li><%= link_to "Users", users_index_path %></li>
                    <li><%= link_to "Projects", projects_path %></li>
                    <li><%= link_to "Categories", categories_path %></li>
                  <% end %>
                </ul>
              </div>

            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
          <% flash.each do |type, msg| %>
          <% if type == "notice" %>
          <div class="alert alert-success">
            <% elsif type == "alert" %>
          <div class="alert alert-danger">
          <% else %>
          <div class='alert alert-<%= "#{type}" %>'>
          <% end %>
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
            <ul>
              <li>
                <%= msg %>
              </li>
            </ul>
          <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
<!--    <div class="footerr" style="font-style: italic">
      <div class="row">
        <div class="col-md-2">
          <a>Trust and Security</a>
        </div>
        <div class="col-md-2">
          <a>Terms of use</a>
        </div>
        <div class="col-md-2">
          <a>Privacy Policy</a>
        </div>
        <div class="col-md-2">
          <a>Cookies Policy</a>
        </div>
      </div>
    </div>-->

  </body>
</html>
