<!DOCTYPE html>
<html>
  <head>
    <title>Fundme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-class">
        <div class="container">
          <div class="row">
            <div class="col-md-6" >
              <h1 style="color: #CCCCCC">FundMe</h1>
            </div>
            <div class="col-md-6 ">
              <header style="color: #CCCCCC">Francisco Moreira</header>
              <header style="color: #CCCCCC">Alvaro Majluf</header>
            </div>

          </div>

        </div>
      </div>
    </div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/home/index#">Home</a></li>
            <li class="active"><a href="/projects">All Projects <span class="sr-only">(current)</span></a></li>
            <li><a href="/promises">Promises</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Start your campaign</a></li>

            <% if user_signed_in? %>
              <li><%= link_to current_user.email, edit_user_registration_path %></li>
              <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>

            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <p class="notice"></p>
    <p class="alert"></p>
    <%= yield %>
  </body>
</html>
