<%= form_with(model: promise, local: true) do |form| %>
  <% if promise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promise.errors.count, "error") %> prohibited this promise from being saved:</h2>

      <ul>
      <% promise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :promise_amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :estimated_delivery_date %>
    <%= form.date_select :estimated_delivery_date, id: :promise_estimated_delivery_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, id: :promise_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :project_id , :value => @project_id %>
  </div>

  <div class="actions">
    <%= form.submit "Create Promise",class: "btn btn-success" %>
  </div>
<% end %>
