<div class="col-md-2"></div>
<div class="col-md-6">
  <h1>Promises</h1>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Amount</th>
      <th>Estimated delivery date</th>
      <th>Description</th>
    </tr>
    </thead>

    <tbody>
    <% @promises.each do |promise| %>
      <tr>
        <td><%= promise.amount %></td>
        <td><%= promise.estimated_delivery_date %></td>
        <td><%= promise.description %></td>
        <td><%= link_to 'Show', promise,class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_promise_path(promise),class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', promise, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Promise', new_promise_path,class: "btn btn-primary" %>
</div>



