<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @promise.amount %>
</p>

<p>
  <strong>Estimated delivery date:</strong>
  <%= @promise.estimated_delivery_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promise.description %>
</p>

<%= link_to 'Edit', edit_promise_path(@promise) %> |
<%= link_to 'Back', promises_path %>
